.hero__background {
    background-size: 100%, cover !important;
    background-position: center, center !important;
    width: 100%;
    height: 600px;
    position: relative;
    animation: animateHeroimage 1s;
}

.conteudo_div--image {

}

.text__presantation {
    color: aliceblue;
}