.campao_botao {
    text-align: center;
    margin: 0 0 80px 0;
}

.botao_filmes {
    background-color: yellowgreen;
    font-size: 30px;
    padding: 10px 80px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    user-select: none;
    width: 90%;
}

.botao_filmes:hover {
    background-color: #649501f1;
    transition: 0.5s;
}

@media screen and (max-width:780px) {
    .botao_filmes {
        font-size: 25px;
    }
}

@media screen and (max-width:560px) {
    .botao_filmes {
        font-size: 20px;
    }
}

@media screen and (max-width:480px) {
    .botao_filmes {
        font-size: 15px;
    }
}

@media screen and (max-width:380px) {
    .botao_filmes {
        font-size: 12px;
    }
}