.titulo__elenco {
    font-size: 40px;
    margin: 0;
    display: flex;
    text-transform: uppercase;
    background-color: black;
    color: white;
}

.cast_list {
    width: 100%;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.list_actors {
    margin: 0;
    padding: 0;
    display: flex;
    margin: 10px;
    flex-direction: row;
    background-color: black;
    color: white;
    width: auto;
}

.poster__actor {
    width: 50%;
    height: 100%;
}

.actors_name {
    padding: 0 px;
    font-size: 20px;
    width: 100%;
    text-transform: uppercase;
}

.name {
    
}
