.titulo__section {
    margin: 20px 0 0 70px;
    font-size: 40px;
}

.container__movie {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 50px 10px;
    padding: 0;
}

@media screen and (max-width:780px) {
    .titulo__section {
        text-align: center;
        font-size: 35px;
        margin: 20px 0 0 0px;
    }
}

@media screen and (max-width:560px) {
    .titulo__section {
        text-align: center;
        font-size: 30px;
        margin: 20px 0 0 0px;
    }

    .container__movie {
        margin: 30px 10px;
    }
}

@media screen and (max-width:480px) {
    .titulo__section {
        font-size: 20px;
    }
}