.titulo__section {
    margin: 20px 0 0 70px;
    font-size: 40px;
}

.container__movie {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 50px 10px;
    padding: 0;
}

