.container__movie {
    display: flex;
    margin: 20px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
}

.container__movie div {
    margin: 20px 20px;
    display: flex;
}

.container__movie div:hover {
  transform: scale(1.1);
}

