.titulo__elenco {
    font-size: 40px;
    margin: 0;
    display: flex;
    text-transform: uppercase;
    background-color: black;
    color: white;
}

.cast_list {
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.list_actors {
    margin: 0;
    padding: 0;
    display: flex;
    margin: 10px;
    flex-direction: row;
    background-color: black;
    color: white;
    width: auto;
}

.poster__actor {
    width: 154px;
    height: 220px;
}

.actors_name {
    padding: 0 px;
    font-size: 20px;
    width: 100%;
    text-transform: uppercase;
}

@media screen and (max-width:1800px) {
    .cast_list {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width:1020px) {
    .cast_list {
        grid-template-columns: 1fr 1fr;
        
    }
}