.container__movieInfo {
    display: flex;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.26); 
    flex-wrap: wrap;
}

.bloco__movie {
    display: flex;
    position: relative;
    text-align: center;
    margin: 16px 40px;
}

.container {
    width: 100%;
    margin: 16px 40px;
}