.imagem {
    width: 18%;
    display: flex;
    justify-content: left;
    user-select: none;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    background-color: #1c1c1c;
    align-items: center;
    padding: 20px 80px;
}

.botao {
    border-radius: 5px;
    text-transform: uppercase;
    background: greenyellow;
    cursor: pointer;
    font-weight: 700;
    margin-right: 20px;
    padding: 8px 15px;
}

.menu {
    display: flex;
    align-items: center;
    text-decoration: none;
    list-style-type: none;
    user-select: none;
}

.logo__github {
    width: 50%;
}

.menu__movies {
    color: white;
    padding-right: 25px;
    text-transform: uppercase;
    text-decoration: none;
}

.menu__movies:hover {
    color: greenyellow;
    cursor: pointer;
}


