.imagem {
    width: 25%;
    display: flex;
    justify-content: left;
    padding: 0px;
}

.cabecalho {
    display: flex;
    justify-content: left;
    background-color: #1c1c1c;
    align-items: center;
}

.titulo__principal {
    color: white;
    font-family: monospace;
    font-size: 50px;
}

